.xbox.disconnected {
    background: url(http://gamepadviewer.com/xbox-assets/disconnected.svgz);
}

.xbox.disconnected div {
    display: none;
}

.xbox .stick {
    position: absolute;
    background: url(E:\Program Files\BINDER\личный\OBS\ControllerOverlay-master\Adam\sticks.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0px !important;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 114px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 63px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 63px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 13px;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}